body {
	margin: 0;
	font-family: "Hack";
}

:root {
	--terminal: #33ff33;
}

.header {
	display: none;
}

.main-block {
	background-color: rgb(3, 3, 3);
	color: aliceblue;
	font-size: 2.5rem;
	height: 35rem;
	padding: 8rem 3rem;
	text-align: left;
	display: flex;
	flex-direction: column;
	&__text {
		&::after {
			content: "|";
			color: var(--terminal);
			animation: blink 1.5s infinite;
		}
	}
	&__image {
		align-self: center;
		width: 10rem;
		height: 10rem;
		border: transparent 0.1rem;
		border-radius: 50%;
		position: relative;
		animation: images 5s ease-in-out 0s 1 normal none;
		margin-top: 2.5rem;
	}
}

.contact {
	background-color: red;
	height: 30rem;
}

@keyframes images {
	0% {
		top: -30rem;
	}
	50% {
		top: 150px;
	}

	100% {
		top: 0px;
	}
}
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes blink {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media screen and (min-width: 76.8rem) {
	.main-block {
		font-size: 6rem;
		text-align: center;
		height: 50rem;
		padding: 2rem 7rem;
		&__image {
			width: 25rem;
			height: 25rem;
		}
	}
	.header {
		padding: 1rem;
		background-color: black;
		height: 5rem;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		color: white;
		&__main {
			font-weight: bold;
			align-self: center;
			&::after {
				content: "|";
				color: var(--terminal);
				animation: blink 1s infinite;
			}
		}
		&__list {
			display: none;
		}
	}
}
