body {
	margin: 0;
	font-family: "Hack";
}

:root {
	--terminal: #33ff33;
}

.header {
	padding: 1rem;
	background-color: black;
	height: 5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: white;
	&__main {
		font-weight: bold;
		align-self: center;
		&::after {
			content: "|";
			color: var(--terminal);
			animation: blink 1s infinite;
		}
	}
	&__list {
		align-self: center;
		display: flex;
		flex-direction: row;
		cursor: pointer;
		& > * {
			padding: 1rem;
		}
		& :hover {
			color: var(--terminal);
		}
	}
}

.main-block {
	background-color: #333;
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 50rem;
	&__text {
		align-self: center;
		font-size: 2rem;
		color: aliceblue;
	}
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes blink {
	50% {
		content: "";
	}
}
